<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.infinity.core.train.infrastructure.mapper.SeatMapper">

    <select id="listAllByCarriageId" resultType="org.infinity.core.train.model.po.SeatPO" parameterType="java.util.List">
        select * from i12306_ci_db.seat
        where carriage_id in
        <foreach collection="carriageIds" item="carriageId" open="(" close=")" separator=",">
            #{carriageId}
        </foreach>
    </select>
</mapper>
