<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.infinity.core.station.infrastructure.mapper.StationMapper">

    <!--<select id="allIdsExist" parameterType="list" resultType="boolean">-->
    <!--    select if(count(*) = #{stationIds.size()}, true, false)-->
    <!--    from i12306_ci_db.station-->
    <!--    where id in-->
    <!--    <foreach collection="stationIds" item="stationId" open="(" close=")" separator=",">-->
    <!--        #{stationId}-->
    <!--    </foreach>-->
    <!--</select>-->

</mapper>
